<div class="heading-block center">
  <h2>Community Engagement</h2>
  <!-- <span>List of selected project: on-going & completed from the few ones I worked on or Co-led</span> -->
</div>

<div class="container clearfix">

  <div class="col_half nobottommargin">

    <div class="heading-block" style="padding-top: 40px;">

      <h2>Digital Literacy & Tech Bootcamps.</h2>
      <!-- <span>Duis mollis, est non commodo luctus. Donec sed odio dui</span> -->
    </div>

    <p>Digitstem is an outreach and digital bootcamp aimed at increasing the digital literacy skills of young people in primary and secondary schools</p>

    <a href="https://digistem.co/" target="_blank" class="button button-border button-large button-rounded topmargin-sm noleftmargin">Visit Website</a>

  </div>

  <div class="col_half bottommargin-sm center col_last">

    <img src="/assets/images/digistem.jpg" class="bounceInRight animated" alt="Image" title="Image" data-animate="bounceInRight">

  </div>

</div>
