<div id="wrapper" class="clearfix">
  <header id="header" class="full-header" data-sticky-offset="full" data-sticky-offset-negative="75">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <div id="logo">
          <a href="/" class="standard-logo" data-dark-logo="/assets/images/logo-dark.png"><img src="/assets/images/ken.png" alt="Canvas Logo"></a>
          <a href="/" class="retina-logo" data-dark-logo="/assets/images/logo-dark@2x.png"><img src="/assets/images/ken.png" alt="Canvas Logo"></a>
        </div>
        <nav id="primary-menu">

          <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
            <!-- <li><a href="#" data-href="#wrapper"><div>Home</div></a></li> -->
            <li><a href="#" data-scrollto="#wrapper" data-easing="easeInOutExpo" 
              data-speed="1250" data-offset="70" data-href="#wrapper" id="overlay-menu-close"><div>Home</div></a></li>

            <li><a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" 
              data-speed="1250" data-offset="70" data-href="#section-about" id="overlay-menu-close"><div>About</div></a></li>

            <li><a href="#" data-scrollto="#section-services" data-easing="easeInOutExpo" 
                data-speed="1250" data-offset="70" data-href="#section-services" id="overlay-menu-close"><div>Expertise</div></a></li>

           <li><a href="#" data-scrollto="#section-works" data-easing="easeInOutExpo" 
                  data-speed="1250" data-offset="70" data-href="#section-works" id="overlay-menu-close"><div>Portfolio</div></a></li>

           <li><a href="#" data-scrollto="#section-blog" data-easing="easeInOutExpo" 
                    data-speed="1250" data-offset="70" data-href="#section-blog" id="overlay-menu-close"><div>Blog</div></a></li>

            <li><a href="#" data-scrollto="#section-contact" data-easing="easeInOutExpo" 
                  data-speed="1250" data-offset="70" data-href="#section-contact" id="overlay-menu-close"><div>Contact</div></a></li>
          </ul>
          <a href="#" id="overlay-menu-close" class="visible-lg-block visible-md-block"><i class="icon-line-cross"></i></a>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header>

  <section id="slider" class="full-screen slider-parallax">
    <div class="full-screen section nopadding nomargin noborder ohidden" style="background: url('/assets/images/kenny.jpg'); background-size: cover; background-position: top center;height: 899px;">
      <div class="container clearfix">
        <div class="vertical-middle tleft ignore-header headland">
          <div class="emphasis-title bottommargin">
            <h1 class="uppercase t400" style="font-size: 52px; letter-spacing: 10px; word-spacing: 5px;">👋 Adelugba Kehinde</h1>
            <span class="uppercase" style="color: #888;letter-spacing:10px; font-size: 16px;font-family: 'Noto Sans', sans-serif;">Product Lead</span>
            <p class="lead topmargin fadeInUp animated" data-animate="fadeInUp" style="max-width: 600px; line-height: 1.8; color: #c3c3c3;font-size: 21px;font-weight: 600;">
           I just love to code, work on fun and exciting projects, share my stories while making my money. </p>
          </div>
          <div class="topmargin">
            <a href="https://www.facebook.com/kennyadenat" target="_blank" class="social-icon inline-block si-small si-rounded si-colored si-facebook" title="Adelugba Kehinde">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>
            <a href="https://twitter.com/natireken" target="_blank" class="social-icon inline-block si-small si-rounded si-colored si-twitter" title="Adelugba Kehinde">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>
            <a href="https://github.com/kennyadenat" target="_blank" class="social-icon inline-block si-small si-rounded si-colored si-github" title="Adelugba Kehinde">
              <i class="icon-github"></i>
              <i class="icon-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/adelugbakehinde/" target="_blank" class="social-icon inline-block si-small si-rounded si-colored si-linkedin" title="Adelugba Kehinde">
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
            </a>
          </div>
        </div>

      </div>
    </div>

    <a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

  </section>
  <!-- #slider end -->

<section id="content">

  <div class="content-wrap nopadding">

    <div id="section-about" class="center page-section">

      <div class="container clearfix">

        <h2 class="divcenter bottommargin font-body" style="max-width: 700px; font-size: 40px;">Building and recreating new human experiences and stories using technology </h2>

        <p class="lead divcenter bottommargin fadeInUp animated" data-animate="fadeInUp" data-speed="4250" style="max-width: 800px;">Ford Foundation reduce child mortality
          fight
          against oppression refugee disruption pursue these aspirations effect. Free-speech Nelson Mandela change
          liberal; challenges of our times sustainability institutions.</p>
      </div>
    </div>

    <div id="section-services" class="page-section notoppadding">
      <div class="common-height clearfix">
        <div class="col-md-4 hidden-xs"
          style="background: url('/assets/images/main-bg.jpg') center center no-repeat; background-size: cover;height: 516px;">
        </div>
        <div class="col-md-8">
          <div class="max-height">
            <div class="row common-height grid-border clearfix">
              <div class="col-md-4 col-sm-6 col-padding">
                <div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder bounce animated">
                  <div class="fbox-icon">
                    <a><i class="icon-et-mobile"></i></a>
                  </div>
                  <h3>Web/Mobile Development</h3>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-padding">
                <div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder bounce animated" data-animate="bounce" data-speed="30000">
                  <div class="fbox-icon">
                    <a><i class="icon-et-presentation"></i></a>
                  </div>
                  <h3>Product Analytics</h3>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-padding">
                <div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder bounce animated" data-delay="60000">
                  <div class="fbox-icon">
                    <a><i class="icon-et-puzzle"></i></a>
                  </div>
                  <h3>Business Strategy</h3>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-padding">
                <div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder bounce animated">
                  <div class="fbox-icon">
                    <a><i class="icon-et-profile-male"></i></a>
                  </div>
                  <h3>Customer Research & Market Analysis</h3>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-padding">
                <div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder bounce animated">
                  <div class="fbox-icon">
                    <a><i class="icon-et-genius"></i></a>
                  </div>
                  <h3>Product Ideation</h3>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-padding">
                <div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder bounce animated">
                  <div class="fbox-icon">
                    <a><i class="icon-et-focus"></i></a>
                  </div>
                  <h3>Industrial Support</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <section id="section-works" class="page-section notoppadding">

      <app-works></app-works>

    </section>
  



    <div id="section-blog" class="page-section notoppadding">
    
     <app-blog></app-blog>
      
    </div>



    <div id="section-contact" class="page-section notoppadding">
      <div class="container clearfix">

       <app-contact></app-contact>

      </div>

    </div>

  </div>

</section><!-- #content end -->

<!-- Footer
============================================= -->
<footer id="footer" class="dark noborder">
  <div id="copyrights">
    <div class="container center clearfix t300 ls3">
      Adelugba Kehinde &trade; | All Rights Reserved
    </div>
  </div>

</footer><!-- #footer end -->

</div>
<!-- #wrapper end -->