<div class="heading-block center">
  <h2>BLOG</h2>
  <!-- <span>People who have contributed enormously to our Company.</span> -->
</div>

<div class="section nobottommargin">
  <div class="container clearfix">

    <div class="row topmargin clearfix">

      <div class="ipost col-sm-6 bottommargin clearfix">
        <div class="row">
          <div class="col-md-6">
            <div class="entry-image nobottommargin">
              <a href="#"><img src="/assets/images/blog/1.jpg" alt="Paris"></a>
            </div>
          </div>
          <div class="col-md-6" style="margin-top: 20px;">
            <span class="before-heading" style="font-style: normal;font-family: 'Noto Sans', sans-serif;">Big Data</span>
            <div class="entry-title">
              <h3 class="t400" style="font-size: 22px;"><a href="#">Installing Hadoop on Windows</a>
              </h3>
            </div>
            <div class="entry-content">
              <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="ipost col-sm-6 bottommargin clearfix">
        <div class="row">
          <div class="col-md-6">
            <div class="entry-image nobottommargin">
              <a href="#"><img src="/assets/images/blog/2.jpg" alt="Paris"></a>
            </div>
          </div>
          <div class="col-md-6" style="margin-top: 20px;">
            <span class="before-heading" style="font-style: normal;font-family: 'Noto Sans', sans-serif;">Product Management</span>
            <div class="entry-title">
              <h3 class="t400" style="font-size: 22px;"><a href="#">The New YouTube Economy unfolds itself</a>
              </h3>
            </div>
            <div class="entry-content">
              <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="ipost col-sm-6 bottommargin clearfix">
        <div class="row">
          <div class="col-md-6">
            <div class="entry-image nobottommargin">
              <a href="#"><img src="/assets/images/blog/3.jpg" alt="Paris"></a>
            </div>
          </div>
          <div class="col-md-6" style="margin-top: 20px;">
            <span class="before-heading" style="font-style: normal;font-family: 'Noto Sans', sans-serif;">Entrepreneurship</span>
            <div class="entry-title">
              <h3 class="t400" style="font-size: 22px;"><a href="#">Kicking Off Design Party in Style</a></h3>
            </div>
            <div class="entry-content">
              <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="ipost col-sm-6 bottommargin clearfix">
        <div class="row">
          <div class="col-md-6">
            <div class="entry-image nobottommargin">
              <a href="#"><img src="/assets/images/blog/4.jpg" alt="Paris"></a>
            </div>
          </div>
          <div class="col-md-6" style="margin-top: 20px;">
            <span class="before-heading" style="font-style: normal;font-family: 'Noto Sans', sans-serif;">Product Management</span>
            <div class="entry-title">
              <h3 class="t400" style="font-size: 22px;"><a href="#">Top Ten Signs You're a Designer</a></h3>
            </div>
            <div class="entry-content">
              <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="ipost col-sm-6 bottommargin clearfix">
        <div class="row">
          <div class="col-md-6">
            <div class="entry-image nobottommargin">
              <a href="#"><img src="/assets/images/blog/4.jpg" alt="Paris"></a>
            </div>
          </div>
          <div class="col-md-6" style="margin-top: 20px;">
            <span class="before-heading" style="font-style: normal;font-family: 'Noto Sans', sans-serif;">Data Analytics</span>
            <div class="entry-title">
              <h3 class="t400" style="font-size: 22px;"><a href="#">Top Ten Signs You're a Designer</a></h3>
            </div>
            <div class="entry-content">
              <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>