<div class="heading-block center">
  <h2>Portfolio</h2>

</div>

<!-- <div class="container topmargin-lg clearfix">
  <div class="row contact-properties clearfix">
    <div class="col-sm-4">
      <a href="#"
        style="background: url('demos/pet/images/help/1.jpg') no-repeat center center; background-size: cover;">
        <div class="vertical-middle dark center">
          <div class="heading-block nomargin noborder">
            <h3 class="capitalize t400 font-secondary">Hire a Pet Sitter</h3>
            <span style="margin-top: 100px; font-size: 17px; font-weight: 500;">
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="#"
        style="background: url('demos/pet/images/help/2.jpg') no-repeat center center; background-size: cover;">
        <div class="vertical-middle dark center">
          <div class="heading-block nomargin noborder">
            <h3 class="capitalize t400 font-secondary">Report a Stray Dog</h3>
            <span style="margin-top: 100px; font-size: 17px; font-weight: 500;">
              call us<br>
              +91-111-222-333
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="#"
        style="background: url('demos/pet/images/help/3.jpg') no-repeat center center; background-size: cover;">
        <div class="vertical-middle dark center">
          <div class="heading-block nomargin noborder">
            <h3 class="capitalize t400 font-secondary">Report Harassment Dog</h3>
            <span style="margin-top: 100px; font-size: 17px; font-weight: 500;">
              Email us<br>
              info@canvas.com
            </span>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-4">
      <a href="#"
        style="background: url('demos/pet/images/help/1.jpg') no-repeat center center; background-size: cover;">
        <div class="vertical-middle dark center">
          <div class="heading-block nomargin noborder">
            <h3 class="capitalize t400 font-secondary">Hire a Pet Sitter</h3>
            <span style="margin-top: 100px; font-size: 17px; font-weight: 500;">
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="#"
        style="background: url('demos/pet/images/help/2.jpg') no-repeat center center; background-size: cover;">
        <div class="vertical-middle dark center">
          <div class="heading-block nomargin noborder">
            <h3 class="capitalize t400 font-secondary">Report a Stray Dog</h3>
            <span style="margin-top: 100px; font-size: 17px; font-weight: 500;">
              call us<br>
              +91-111-222-333
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="#"
        style="background: url('demos/pet/images/help/3.jpg') no-repeat center center; background-size: cover;">
        <div class="vertical-middle dark center">
          <div class="heading-block nomargin noborder">
            <h3 class="capitalize t400 font-secondary">Report Harassment Dog</h3>
            <span style="margin-top: 100px; font-size: 17px; font-weight: 500;">
              Email us<br>
              info@canvas.com
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div> -->

<div class="container clearfix center">

  <div id="portfolio" class="portfolio grid-container portfolio-nomargin clearfix">


    <article class="portfolio-item pf-media pf-icons">
      <div class="portfolio-image">
        <a href="#">
          <img src="/assets/images/portfolio/keko.jpg" alt="Open Imagination">
        </a>
        <div class="portfolio-overlay">
          <!-- <a href="images/portfolio/full/1.jpg" class="right-icon" data-lightbox="image"><i class="icon-line-plus"></i></a> -->
          <a href="https://keko.netlify.app/" target="_blank" class="right-icon"><i class="icon-line-plus"></i></a>
        </div>
      </div>
      <div class="portfolio-desc">
        <h3><a href="#">KEKO LEARNING PLATFORM</a></h3>
        <span><a href="#">Education</a></span>
      </div>
    </article>

    <article class="portfolio-item pf-Education">
      <div class="portfolio-image">
        <a href="#">
          <img src="/assets/images/portfolio/learningpod.jpg" alt="Locked Steel Gate">
        </a>
        <div class="portfolio-overlay">
          <!-- <a href="images/portfolio/full/2.jpg" class="right-icon" data-lightbox="image"><i class="icon-line-plus"></i></a> -->
          <a href="https://learningpod.netlify.app/" target="_blank" class="right-icon"><i
              class="icon-line-plus"></i></a>
        </div>
      </div>
      <div class="portfolio-desc">
        <h3><a href="#">LEARNINGPOD </a></h3>
        <span><a href="#">Education</a></span>
      </div>
    </article>


    <article class="portfolio-item pf-Education">
      <div class="portfolio-image">
        <a href="#">
          <img src="/assets/images/portfolio/nasc.jpg" alt="Locked Steel Gate">
        </a>
        <div class="portfolio-overlay">
          <!-- <a href="images/portfolio/full/2.jpg" class="right-icon" data-lightbox="image"><i class="icon-line-plus"></i></a> -->
          <a href="https://nasc.netlify.app/" target="_blank" class="right-icon"><i class="icon-line-plus"></i></a>
        </div>
      </div>
      <div class="portfolio-desc">
        <h3><a href="#">NASC SEEDPRO </a></h3>
        <span><a href="#">Utility</a></span>
      </div>
    </article>

    <!-- <article class="portfolio-item pf-Education">
  <div class="portfolio-image">
    <a href="#">
      <img src="/assets/images/portfolio/ekiti.jpg" alt="Locked Steel Gate">
    </a>
    <div class="portfolio-overlay">
      <a href="images/portfolio/full/2.jpg" class="right-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
      <a href="https://admission.eksu.edu.ng/" target="_blank" class="right-icon"><i class="icon-line-plus"></i></a>
    </div>
  </div>
  <div class="portfolio-desc">
    <h3><a href="#">EKITI STATE SCHOOL PORTAL</a></h3>
    <span><a href="#">Education</a></span>
  </div>
</article> -->

    <article class="portfolio-item pf-icons pf-Education">
      <div class="portfolio-image">
        <a href="#">
          <img src="/assets/images/portfolio/cbt.jpg" alt="Mac Sunglasses">
        </a>
        <div class="portfolio-overlay" data-lightbox="gallery">
          <a href="/assets/images/portfolio/1.png" class="right-icon" data-lightbox="gallery-item"><i
              class="icon-line-stack-2"></i></a>
          <a href="/assets/images/portfolio/2.png" class="hidden" data-lightbox="gallery-item"></a>
          <a href="/assets/images/portfolio/3.png" class="hidden" data-lightbox="gallery-item"></a>
          <a href="/assets/images/portfolio/4.png" class="hidden" data-lightbox="gallery-item"></a>
          <a href="/assets/images/portfolio/5.png" class="hidden" data-lightbox="gallery-item"></a>
          <a href="/assets/images/portfolio/6.png" class="hidden" data-lightbox="gallery-item"></a>
          <a href="/assets/images/portfolio/7.png" class="hidden" data-lightbox="gallery-item"></a>
          <!-- <a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-plus"></i></a> -->
        </div>
      </div>
      <div class="portfolio-desc">
        <h3><a href="#">EXAMS TESTING SOFTWARE</a></h3>
        <span> <a href="#">Education</a></span>
      </div>
    </article>

    <article class="portfolio-item pf-uielements pf-media">
      <div class="portfolio-image">
        <a href="#">
          <img src="/assets/images/portfolio/shop.jpg" alt="Flutter shopping app">
        </a>
        <div class="portfolio-overlay">
          <!-- <a href="images/portfolio/full/5.jpg" class="right-icon" data-lightbox="image"><i class="icon-line-plus"></i></a> -->
          <a href="https://vimeo.com/448842719" target="_blank" class="right-icon"><i class="icon-line-plus"></i></a>
        </div>
      </div>
      <div class="portfolio-desc">
        <h3><a href="#">Flutter Shopping App</a></h3>
        <span> <a href="#">Experimental</a></span>
      </div>
    </article>

    <article class="portfolio-item pf-uielements pf-media">
      <div class="portfolio-image">
        <a href="#">
          <img src="/assets/images/portfolio/plane.jpg" alt="Flutter plane booking app">
        </a>
        <div class="portfolio-overlay">
          <!-- <a href="images/portfolio/full/5.jpg" class="right-icon" data-lightbox="image"><i class="icon-line-plus"></i></a> -->
          <a href="https://vimeo.com/448843153" target="_blank" class="right-icon"><i class="icon-line-plus"></i></a>
        </div>
      </div>
      <div class="portfolio-desc">
        <h3><a href="#">Flutter Ticket Booking App</a></h3>
        <span> <a href="#">Experimental</a></span>
      </div>
    </article>

    <article class="portfolio-item pf-uielements pf-media">
      <div class="portfolio-image">
        <a href="#">
          <img src="/assets/images/portfolio/stocks.jpg" alt="Flutter plane booking app">
        </a>
        <div class="portfolio-overlay">
          <!-- <a href="images/portfolio/full/5.jpg" class="right-icon" data-lightbox="image"><i class="icon-line-plus"></i></a> -->
          <a href="https://vimeo.com/448843314" target="_blank" class="right-icon"><i class="icon-line-plus"></i></a>
        </div>
      </div>
      <div class="portfolio-desc">
        <h3><a href="#">Stock Trading App</a></h3>
        <span> <a href="#">Experimental</a></span>
      </div>
    </article>

    <article class="portfolio-item pf-uielements pf-media">
      <div class="portfolio-image">
        <a href="#">
          <img src="/assets/images/portfolio/stocks.jpg" alt="Flutter plane booking app">
        </a>
        <div class="portfolio-overlay">
          <!-- <a href="images/portfolio/full/5.jpg" class="right-icon" data-lightbox="image"><i class="icon-line-plus"></i></a> -->
          <a href="https://vimeo.com/448843314" target="_blank" class="right-icon"><i class="icon-line-plus"></i></a>
        </div>
      </div>
      <div class="portfolio-desc">
        <h3><a href="#">Readers News App</a></h3>
        <span> <a href="#">Experimental</a></span>
      </div>
    </article>


    <article class="portfolio-item pf-icons pf-Education">
      <div class="portfolio-image">
        <a href="#">
          <img src="/assets/images/portfolio/smartpoll.jpg" alt="Mac Sunglasses">
        </a>
        <div class="portfolio-overlay" data-lightbox="gallery">
          <a href="/assets/images/portfolio/10.jpg" class="right-icon" data-lightbox="gallery-item"><i
              class="icon-line-stack-2"></i></a>
          <!-- <a href="/assets/images/portfolio/2.png" class="hidden" data-lightbox="gallery-item"></a>
          <a href="/assets/images/portfolio/3.png" class="hidden" data-lightbox="gallery-item"></a>
          <a href="/assets/images/portfolio/4.png" class="hidden" data-lightbox="gallery-item"></a>
          <a href="/assets/images/portfolio/5.png" class="hidden" data-lightbox="gallery-item"></a>
          <a href="/assets/images/portfolio/6.png" class="hidden" data-lightbox="gallery-item"></a>
          <a href="/assets/images/portfolio/7.png" class="hidden" data-lightbox="gallery-item"></a> -->
          <!-- <a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-plus"></i></a> -->
        </div>
      </div>
      <div class="portfolio-desc">
        <h3><a href="#">SmartPoll</a></h3>
        <span> <a href="#">Governance & Citizenship</a></span>
      </div>
    </article>

  </div>

</div>
